body{
  background-image: url("https://image.freepik.com/free-vector/covid-19-coronavirus-outbreak-design-with-falling-virus-cell-typography-letter-light-background-vector-2019-ncov-corona-virus-illustration-dangerous-sars-epidemic-theme-banner_1314-2724.jpg");
  background-size: cover;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


h1{
    text-align: center;
    color: darkgreen;
    text-shadow: teal;
    padding-top: 25px;
}

.para:hover{
  background-color:#FEFBEA;
}
@media screen and (max-width: 600px)
 {
   nav {
    box-shadow: 0 3px 3px 0 rgb(16, 168, 23);
    width: 100%;
  }   
  a{
    font-size: 10px;
  }
.para{
    background-color: rgba(255,235,205,0.5);
    font-size: 30px;
    padding-top: 55px;
    padding-left: 15px;
    padding-bottom: 5px;
    color: rgb(46, 46, 212);
    box-shadow: 3px 6px 5px 3px rgba(19, 45, 192, 0.2) , 0 0 8px 6px #008000;
    width: 85%;
    text-align: center;
    margin-left: 7.5%;
}
input{
  margin: 0% 35%;
  padding-right: 60px;
  padding-top: 10px;
}
li a, form {
  display: block;
  color: rgb(6, 99, 105);
  text-align: center;
  padding: 8px;
  font-size: 18px;
  background-color: white;
}

li a:hover ,form:hover {
  background-color: transparent;
  border: 2px solid white; 
}

}
@media screen and (min-width: 992px) and (max-width:1200px){
  .img{
    float: right;
    padding-right: 5px;  
}
.para{
    background-color: rgba(255,235,205,0.5);
    font-size: 30px;
    padding-top: 55px;
    padding-left: 15px;
    padding-bottom: 5px;
    color: rgb(46, 46, 212);
    box-shadow: 3px 6px 5px 3px rgba(19, 45, 192, 0.2) , 0 0 8px 6px #008000;
    width: 800px;
    height: 450px;
}
     nav {
    box-shadow: 0 2px 2px 0 rgb(16, 168, 23);
    width: 100%;
  } 
  li {
    float: right;
  }
  li a, form {
    display: block;
    color: rgb(6, 99, 105);
    text-align: center;
    padding: 8px;
    font-size: 20px;
    background-color: white;
  }
  
  li a:hover ,form:hover {
    background-color: transparent;
    border: 2px solid white; 
  }
  input{
    float: right;
    padding-right: 60px;
    padding-top: 10px;
  }
}
 
@media screen and (min-width: 1200px) {
     .img{
      float: right;
      padding-right: 5px;  
  }
  .para{
      background-color: rgba(255,235,205,0.5);
      font-size: 30px;
      padding-top: 55px;
      padding-left: 15px;
      padding-bottom: 5px;
      color: rgb(46, 46, 212);
      box-shadow: 3px 6px 5px 3px rgba(19, 45, 192, 0.2) , 0 0 8px 6px #008000;
      width: 800px;
      height: 450px;
  }
  nav {
    box-shadow: 0 2px 2px 0 rgb(16, 168, 23);
    width: 100%;
    background-color: rgba(255,235,205,0.5);
  } 
  li {
    float: right;
  }
  li a, form {
    display: block;
    color: rgb(6, 99, 105);
    text-align: center;
    padding: 14px 16px;
    font-size: 30px;
    
  }
  
  li a:hover:not(.active) , form:hover {
    background-color: rgba(255,235,205,0.5);
    border: 2px solid white; 
  }
  input{
    float: right;
    padding-right: 60px;
    padding-top: 10px;
  }
}
  
 
